.picker .picker-menu {
  position: fixed;
  z-index: 200;
  background: #f1f1f1;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  vertical-align: middle;
  text-align: center;
  overflow-x: scroll;
  font-size: 18px !important;
  width: 100%;
  bottom: 245px;
  -moz-transform: translate3d(0px, 735px, 0px);
  -o-transform: translate3d(0px, 735px, 0px);
  -webkit-transform: translate3d(0px, 735px, 0px);
  transform: translate3d(0px, 735px, 0px); }
  .picker .picker-menu.is-active {
    -moz-transform: translate3d(0px, 245px, 0px);
    -o-transform: translate3d(0px, 245px, 0px);
    -webkit-transform: translate3d(0px, 245px, 0px);
    transform: translate3d(0px, 245px, 0px); }
  .picker .picker-menu .picker-title {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 5px 0px 5px;
    height: 45px;
    line-height: 45px; }

.picker .picker-menu-fn {
  width: 100%;
  border-bottom: 1px solid #ccc; }
  .picker .picker-menu-fn:hover {
    outline: none; }
  .picker .picker-menu-fn .picker-fn-cancel {
    color: #ccc;
    float: left; }
  .picker .picker-menu-fn .picker-fn-submit {
    color: #157efd;
    float: right; }
  .picker .picker-menu-fn .picker-fn {
    width: 85px;
    border: none;
    box-shadow: none;
    border-radius: none;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none; }

.picker .picker-mask {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -moz-transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
  -o-transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
  -webkit-transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s; }
  .picker .picker-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s; }

.picker .slot-wrapper {
  height: 200px;
  line-height: 200px;
  padding: 0px; }
  .picker .slot-wrapper .slot-inner {
    overflow: hidden;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    top: -44px; }
    .picker .slot-wrapper .slot-inner .slot-row {
      display: table-row; }
    .picker .slot-wrapper .slot-inner .slot-container {
      display: table-cell;
      line-height: 200px; }
      .picker .slot-wrapper .slot-inner .slot-container:first-child:last-child {
        text-align: left; }
      .picker .slot-wrapper .slot-inner .slot-container .slot-content {
        height: 200px; }
      .picker .slot-wrapper .slot-inner .slot-container .slot-item {
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .picker .slot-wrapper .picker-bar {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    background-color: rgba(30, 30, 30, 0.2);
    position: relative;
    line-height: 44px;
    height: 44px;
    top: 78px;
    max-width: 100%;
    margin: 0 auto;
    pointer-events: none;
    z-index: 999; }
